// Color Scheme
// First Color Scheme white
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;
//second yellow
$coral: #FA824C;
$buff: #F1DD78;
$vanilla: #F5E7A1;
//3ER red
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #f2b2a0;
//green
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;
//blue
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;
//black
$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;
