.header{
  margin: 0;
  width: 100%;

  &__img{
    width: 100%;
  }

  &__div{
    width: 350px;
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: $white;
    left: 42%;
    top: 61%;
  }

}

.header__div{
  width: 350px;
  display: flex;



  &--cuadro{


  }
  &--orange{
      position: absolute;
    background-color: $flame;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 65%;
    top: 51%;
    color: $white;
    font-size: 3rem;
    font-style: bold;

  }
  &--yellow{
      position: absolute;
  background-color: $coral;
  width: 100px;
  height: 100px;
  z-index: -1;
  left: 68%;
  top: 55%;


}
}

.footer{
  margin: 0;
  width: 100%;
  display: inline-block;


  &__main{
      width: 100%;
  }

  &__img{
    width: 100%;
  }


}

.footer__div{
  margin: 0;
  display: inline-block;
  width: 475px;

  &--blue{
    background-color: $blue-de-france;
  }
  &__img{
    width: 100%;
  }

}

.footer__img{

  &--float{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 150px;
    left: 63%;
    top: 74%;
  }
}

.footer__texto{
  width: 90%;
  padding-top: 25px;
  margin-left: 18px;
}
