.header{
  margin: 0;
  width: 100%;

  &__img{
    width: 100%;
  }

}
.titulo__cafeteria{

}

.footer{
  margin: 0;
  width: 100%;
  display: inline-block;


  &__main{
      width: 100%;
  }

  &__img{
    width: 100%;
  }


}

.footer__div{
  margin: 0;
  display: inline-block;
  width: 450px;

  &--blue{
    background-color: $blue-de-france;
  }
  &__img{
    width: 100%;
  }

}

.footer__img{

  &--float{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 150px;
    left: 850px;
    top: 510px;
  }
}

.footer__texto{
  width: 90%;
  padding-top: 25px;
  margin-left: 18px;
}
