.header{
  margin: 0;
  width: 100%;

  &__img{
    width: 100%;
  }

}


.titulo__cafeteria{

}

.footer{
  margin: 0;
  width: 100%;

  &__img{
    width: 100%;

  }

}

.footer div{
  display: flex;
  width: 24%;
}
